body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/598/701/original/3d-triangle-futuristic-blue-background-vector.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: 100vh;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    margin-top: 4rem;
}

#mainbody {
    max-width: 403px;
    margin: auto;
    padding-top: 1.8rem;
    backdrop-filter: blur(30px);
    box-shadow: 0px 1px 25px 9px;
    padding-left: 1rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    border-radius: 1.5rem;
    margin-top: 2rem;
}

a {
    font-style: italic;
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(19, 1, 1);
    background-color: white;
    border-radius: 0.5rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline solid rgb(32, 153, 133);
    left: 0;
    right: auto;
}

input {
    width: 4rem;
    min-height: 80%;
    border-radius: 0.5rem;
    cursor: text;
}

p {
    font-size: 2rem;
}

#check {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.abc {
    font-size: 1.8rem;
}

#output {
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 403px;
    margin: auto;
    padding-top: 1.8rem;
    backdrop-filter: blur(30px);
    box-shadow: 0px 1px 25px 9px;
    padding-left: 1rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    margin-top: 2rem;
    border-radius: 3.5rem;
}