@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{

    background-image: url(https://wallpapercave.com/wp/wp4911987.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: 100vh;
    margin: auto;
    text-align: center;
    padding-top: 10rem;
    font-family: 'Shadows Into Light', cursive;
}
#mainbody {
  
    max-width: 403px;
    margin: auto;
    padding-top: 2rem;
    backdrop-filter: blur(30px);
   
    box-shadow: 0px 1px 25px 9px;
   
    padding-bottom: 2rem;
}
h2{
    max-width: 403px;
    margin: auto;
    padding-top: 2rem;
    backdrop-filter: blur(30px);
   
    box-shadow: 0px 1px 25px 9px;
    
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.as{
    display: flex;
    font-size: 1.5rem;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: flex-start;
}
a{
    text-decoration:none;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
}